{% extends "layout.html" %}
{% block title %}Novo Colecionador{% endblock %}

{% block content %}
<h1>Novo Colecionador</h1>

<form method="POST" action="{{ url_for('figurinhas.cadastrar_colecionador') }}">
    <div class="form-grupo">
        <label>Apelido</label>
        <input type="text" name="apelido" required>
    </div>
    <div class="form-grupo">
        <label>Cidade</label>
        <input type="text" name="cidade" required>
    </div>
    <button type="submit">Salvar</button>
</form>

<p><a href="{{ url_for('figurinhas.listar_colecionadores') }}">← Voltar</a></p>
{% endblock %}